{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "airbnb-base",
  "plugins": ["promise"],
  "rules": {
    "unused": false,
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }]
  }
}